<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addForm" class="ion-padding-top">
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        <ion-icon name="person" color="white"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="First Name" [formControl]="addForm.controls['firstname']"></ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!addForm.controls.firstname.valid && !addForm.controls.firstname.pending && addForm.controls.firstname.dirty">
      First Name is required</p>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        <ion-icon name="person" color="white"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Last Name" [formControl]="addForm.controls['lastname']"></ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!addForm.controls.lastname.valid && !addForm.controls.lastname.pending && addForm.controls.lastname.dirty">
      Last Name is required</p>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label style="overflow: visible;"><ion-icon name="location" color="light"></ion-icon></ion-label>
      <ion-select placeholder="Select Country" [formControl]="addForm.controls['country_id']">
        <ion-label>Select Country</ion-label>
        <ion-select-option *ngFor="let countryname of countryData" [value]="countryname.country_id">{{countryname.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label style="overflow: visible;"><ion-icon name="location" color="light"></ion-icon></ion-label>
      <ion-select placeholder="Select State" [formControl]="addForm.controls['state_id']">
        <ion-label>Select State</ion-label>
        <ion-select-option *ngFor="let state of stateData" [value]="state.state_id">{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        <ion-icon name="location" color="white"></ion-icon>
      </ion-label>
      <ion-input type="text" interface="popover" placeholder="Address" [formControl]="addForm.controls['address_1']">
      </ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!addForm.controls.address_1.valid && !addForm.controls.address_1.pending && addForm.controls.address_1.dirty">
      Address is required</p>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        <ion-icon name="location" color="white"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Post Code" [formControl]="addForm.controls['postcode']"></ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!addForm.controls.postcode.valid && !addForm.controls.postcode.pending && addForm.controls.postcode.dirty">
      Min. 5 numeric characters required</p>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="block" shape="round" color="tertiary" [disabled]="!addForm.valid" (click)="addAddress()">
          SAVE</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>