<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm" class="ion-padding-top">
    <ion-item class="ion-padding-horizontal">
      <ion-input type="password" placeholder="Old Password" [formControl]="updateForm.controls['old_password']">
      </ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!updateForm.controls.old_password.valid && !updateForm.controls.old_password.pending && updateForm.controls.old_password.dirty">
      Min. length is 8 alphanumeric characters</p>
    <ion-item class="ion-padding-horizontal">
      <ion-input type="password" placeholder="Password" [formControl]="updateForm.controls['password']"></ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!updateForm.controls.password.valid && !updateForm.controls.password.pending && updateForm.controls.password.dirty">
      Min. length is 8 alphanumeric characters</p>
    <ion-item class="ion-padding-horizontal">
      <ion-input type="password" placeholder="Confirm Password" [formControl]="updateForm.controls['confirm_password']">
      </ion-input>
    </ion-item>
    <p class="ion-no-margin invalidMessage"
      *ngIf="!updateForm.controls.confirm_password.valid && !updateForm.controls.confirm_password.pending && updateForm.controls.confirm_password.dirty">
      Min. length is 8 alphanumeric characters</p>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-button expand="full" color="tertiary" shape="round" [disabled]="!updateForm.valid" (click)="update()">
          <b>Edit</b></ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>