<ion-header>
  <ion-toolbar color="primary">
    <ion-title>All Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon class="font-24" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="categoryList" *ngIf="!isUserEnabled">
    <ion-item *ngFor="let p of categories;  let i=index" (click)="openPage(p, i);" lines="none">
      <ion-row class="ion-padding-top parentRow">
        <!-- Parent Pages  -->
        <ion-col class="menu-name">
          <ion-text class="categoryText">
            <span >{{p.nom | titlecase}}</span>
            <ion-icon [name]="selectedMenu == i? 'arrow-down' : 'arrow-forward'"></ion-icon>
          </ion-text>

          <!-- Child Pages  -->
          <ion-list [hidden]="selectedMenu != i" class="ion-no-margin ion-no-padding ion-padding-top">
            <ion-item *ngFor="let subPage of p.sous_categories;let i2=index" class="ion-text-wrap" (click)="dismiss(subPage)" lines="none">
              <ion-row>
                <ion-col class="menu-name"><ion-text color="medium" [innerHTML]="subPage.nom">&nbsp;</ion-text></ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>