<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header color="light">
        Order Information
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Name</ion-col>
            <ion-col>Grocery Package</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Quantity</ion-col>
            <ion-col>1</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Payment Method</ion-col>
            <ion-col>Cash on Delivery</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Price</ion-col>
            <ion-col>$49</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Shipping Charge</ion-col>
            <ion-col>$50</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Total Price</ion-col>
            <ion-col>$99</ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header color="light">
        Billing Address
      </ion-card-header>
      <ion-card-content>
        <p class="ion-padding-top">Mark</p>
        <p>Statham</p>
        <p>Pink street parks view, New York</p>
        <p>NY</p>
        <p>USA</p>
        <p>93401</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="light">
        Shipping Address
      </ion-card-header>
      <ion-card-content>
        <p class="ion-padding-top">Mark</p>
        <p>Statham</p>
        <p>Pink street parks view, New York</p>
        <p>NY</p>
        <p>USA</p>
        <p>93401</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>