<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Order Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <ion-icon color="success" name="checkmark-circle-outline" class="checkmarkIcon"></ion-icon>
    <p class="ion-padding-horizontal">
      <ion-text color="medium">Your order has been successfuly placed. Our executive will contact you soon regarding
        this order.</ion-text>
    </p>
    <ion-button color="tertiary" routerLink="/dashboard" routerLinkActive="inactive">
      Continue Shopping
    </ion-button>
  </div>
</ion-content>