ion-segment {
  background: var(--ion-color-primary);
  border-radius: 0px !important;
  ion-segment-button {
    --border-radius: 0px !important;
  }
}
ion-content {
  --background: var(--ion-color-primary);
  background-size: 100% 100%;
  ion-item {
    --background: var(--ion-color-light);
    border: 1px solid var(--ion-color-primary);
    ion-input {
      color: var(--ion-color-dark);
      font-weight: 500;
    }
  }
}
