<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="prix">
      <ion-text class="ion-text-wrap">Prix</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item *ngFor="let p of allPrice; let i=index" class="producteItem" (click)="openOffreDetail(p)">
        <ion-thumbnail slot="start">
          <img [src]="offre.image" (load)="offre.loaded = true" [hidden]="!offre.loaded" />
          <img src="../../../assets/img/no-image.jpg" [hidden]="offre.loaded">
        </ion-thumbnail>
        <ion-label>
          <h2 class="ion-text-wrap">{{offre.nom}}</h2>
          <p>{{offre.description}}</p>
          <p>Prix: {{p.valeur | priceFormat}} FCFA</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="allPrice.length == 0">Aucune offre disponible.</ion-item>
    </ion-list>
  </div>
</ion-content>