<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon class="font-24" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment color="primary" [(ngModel)]="activeSegment">
    <ion-segment-button value="brand">
      Brand
    </ion-segment-button>
    <ion-segment-button value="price">
      Price
    </ion-segment-button>
    <ion-segment-button value="discount">
      Discount
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="activeSegment">
    <ion-list *ngSwitchCase="'brand'" ngSelected="selected">
      <ion-item *ngFor="let brand of brandFilter">
        <ion-label>{{brand.name}} ({{brand.total}})</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'price'" ngSelected="selected">
      <ion-item *ngFor="let price of priceFilter">
        <ion-label>${{price.min}} to ${{price.max}}</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'discount'" ngSelected="selected">
      <ion-item *ngFor="let discount of discountFilter">
        <ion-label>{{discount.label}}</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

</ion-content>


<ion-footer class="ion-text-center">
  <ion-toolbar color="tertiary">
    <ion-row>
      <ion-col (click)="dismiss()">
        <ion-button fill="clear" color="white" size="small"><b>Reset</b></ion-button>
      </ion-col>
      <ion-col (click)="dismiss()">
        <ion-button fill="clear" color="white" size="small"><b>Apply</b></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>