<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Billing Address</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" routerLink="/add-new-address">
                <ion-icon class="font-24" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header no-border>
        <div class="border"></div>
        <ion-row class="checkmark ion-text-center">
            <ion-col>
                <ion-icon class="check1" color="secondary" name="checkmark-circle-outline"></ion-icon>
                <p>Address</p>
            </ion-col>
            <ion-col>
                <ion-icon class="check1" color="medium" name="checkmark-circle-outline"></ion-icon>
                <p>Options</p>
            </ion-col>
            <ion-col>
                <ion-icon class="check1" color="medium" name="checkmark-circle-outline"></ion-icon>
                <p>Order</p>
            </ion-col>
        </ion-row>
    </ion-header>
    <ion-list>
        <ion-radio-group value="1">
            <ion-item *ngFor="let address of addresses; let i = index;">
                <ion-label>{{address.address_1}}</ion-label>
                <ion-radio slot="end" mode="md" value="{{i}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar color="tertiary">
        <ion-row>
            <ion-col>
                <ion-col class="ion-padding-start amountCol">
                    <span color="white"> Total: ${{totalCartAmount}} </span>
                </ion-col>
            </ion-col>
            <ion-col (click)="goToDeliveryOptions()">
                <ion-button class="ion-float-right" fill="clear" color="light" size="small"><b>CONTINUE <ion-icon
                            name="chevron-forward-outline"></ion-icon></b></ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>