<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="category" (click)="openCategories()">
      <ion-text class="ion-text-wrap">{{category.title | titlecase}} ({{category.total}})</ion-text>
    </ion-title>
  </ion-toolbar>


  <ion-segment color="primary" [(ngModel)]="activeTab" (ionChange)="tabChanged($event)">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="new">
      New Products
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div [ngSwitch]="activeTab">
    <ion-list *ngSwitchCase="'all'" ngSelected="selected">
      <ion-item *ngFor="let product of allProducts; let i=index" class="productItem">
        <ion-thumbnail slot="start">
          <img [src]="'../../../assets/' + product.image" (load)="product.loaded = true" [hidden]="!product.loaded" />
          <img src="../../../assets/img/no-image.jpg" [hidden]="product.loaded">
        </ion-thumbnail>
        <ion-label>
          <h2 class="ion-text-wrap">{{product.name}}</h2>
          <p>{{product.manufacturer}}</p>
          <p>Weight: {{product.weight | number:'1.1-1'}} {{product.weight_class | titlecase}}</p>
          <p>Product Code: {{product.id}}</p>
          <ion-row>
            <ion-col size="6">
              <h4 class="ion-float-left">$<span [innerHTML]="product.special_formated"></span></h4>
            </ion-col>
            <ion-col size="6" class="flip-button ion-float-right"
              [class]="product.hoverAdded == 'hover' ? 'hover' : ''">
              <ion-button color="secondary" (click)="updateCart(product,'add')" fill="outline" shape="round"
                class="ion-float-right front">Add</ion-button>
              <ion-button shape="round" class="ion-float-right back">Done!</ion-button>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="allProducts.length == 0">No Products Found.</ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'new'">
      <ion-item *ngFor="let product of newProducts; let i=index" class="productItem">
        <ion-thumbnail slot="start">
          <img [src]="'../../../assets/' + product.image" (load)="product.loaded = true" [hidden]="!product.loaded" />
          <img src="../../../assets/img/no-image.jpg" [hidden]="product.loaded">
        </ion-thumbnail>
        <ion-label>
          <h2 class="ion-text-wrap">{{product.name}}</h2>
          <p>{{product.quantity>0 ? 'In Stock' :'Out of Stock'}}</p>
          <p>{{product.manufacturer}}</p>
          <ion-row>
            <ion-col size="6">
              <h4 class="ion-float-left">$<span [innerHTML]="product.special_formated"></span></h4>
            </ion-col>
            <ion-col size="6" class="flip-button ion-float-right"
              [class]="product.hoverAdded == 'hover' ? 'hover' : ''">
              <ion-button color="secondary" (click)="updateCart(product,'add')" fill="outline" shape="round"
                class="ion-float-right front">Add</ion-button>
              <ion-button shape="round" class="ion-float-right back">Done!</ion-button>
            </ion-col>
          </ion-row>
        </ion-label>


      </ion-item>
      <ion-item *ngIf="newProducts.length == 0">No Products Found.</ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="cart()">
    <ion-fab-button>
      <img src="../../../assets/img/cart.svg" />
      <ion-badge *ngIf="cartProducts && cartProducts.length > 0">
        <ion-text color="primary">{{cartProducts.length}}</ion-text>
      </ion-badge>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col (click)="openFilter()">
        <ion-button fill="clear" size="small" color="secondary">
          <ion-icon name="filter-outline"></ion-icon><b>Filter</b>
        </ion-button>
      </ion-col>
      <ion-col (click)="openSort()">
        <ion-button fill="clear" size="small" color="secondary">
          <ion-icon name="funnel-outline"></ion-icon><b>Sort</b>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>