<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text class="ion-text-wrap">Abonnements</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
      <ion-card>
          <ion-card-header>
              <ion-card-title (click)="test()">Votre abonnement a expiré</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Selectionner un pack pour pouvoir acceder à l'application
          </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let p of type_abonnements; let i=index">
          <ion-card-header>
              <ion-card-subtitle>{{p.prix | priceFormat}} FCFA</ion-card-subtitle>
              <ion-card-title>{{p.nom}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Accedez à toutes les informations de votre ville gratuitement pendant {{p.duree}} mois.
              <ion-row>
                  <ion-col size="6" class="ion-text-center">
                      <ion-button size="small" color="danger" (click)="alertOM(p)">Payer avec OM</ion-button>
                  </ion-col>
                  <ion-col size="6" class="ion-text-center">
                      <ion-button size="small" color="warning" (click)="alertMoMo(p)">Payer avec MoMo</ion-button>
                  </ion-col>
              </ion-row>
          </ion-card-content>
      </ion-card>
  </div>

</ion-content>
