<ion-content class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
            <img src="../../../assets/img/lgo.png" class="logo">
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-button class="signupBtn" color="secondary" expand="block" shape="round" (click)="signup()">Créer mon compte</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="loginBtn" color="white" expand="block" shape="round" (click)="login()">Me connecter</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  
  </ion-content>

<ion-footer style="background: #6a6a6a" class=ion-text-center>
  <img src="../../../assets/img/logo_ds_blanc.png" style="width: 30%">
</ion-footer>