<ion-content class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
            <img src="../../../assets/img/logo-150x150.png" class="logo">
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-button class="signupBtn" color="danger" expand="block" shape="round" (click)="signup()">SIGNUP</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="loginBtn" color="white" expand="block" shape="round" (click)="login()">LOGIN</ion-button>
        </ion-col>
      </ion-row>  
      <ion-row>
        <ion-col>
          <ion-button class="ion-text-center" color="white" fill="clear" (click)="skip()"><b>SKIP</b></ion-button>
            </ion-col>
        </ion-row>
      
    </ion-grid>
  
  </ion-content>
