<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sort Products</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon class="font-24" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="light">Default</ion-list-header>
    <ion-radio-group>
      <ion-item>
        <ion-label>Product Title A To Z</ion-label>
        <ion-radio value="1" mode="md"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Product Title Z To A</ion-label>
        <ion-radio value="2" mode="md"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Price Low To High</ion-label>
        <ion-radio value="3" mode="md"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Price High To Low</ion-label>
        <ion-radio value="4" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar color="tertiary">
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" color="white" size="small" (click)="dismiss()"><b>Apply</b></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>